<form action="/getRate" method="GET" class="form-inline">
    <div class="form-group mb-2">
        <label for="weight">Weight(lbs)</label>
        <input type="number" class="form-control" name="weight" id="weight" placeholder="1.5">
    </div>
    <div class="form-group mb-2">
        <label for="type">Shipping Type</label>
        <select class="form-control" id="type" name="mtype">
            <option selected>Choose...</option>
            <option value="1">Letters (Stamped)</option>
            <option value="2">Letters (Metered)</option>
            <option value="3">Large Envelopes (Flats)</option>
            <option value="4">First-Class Package Service—Retail</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
