<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/ship-3619166_960_720.png">
    </a>
    <h1>CS313 Node Assignments</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <p>Choose one of the assingments by clicking one of the buttons below</p>
      <div class="btn-group-vertical">
      <a class="btn btn-primary btn-lg" href="/getRate">Calculate Shipping Cost</a><br>
      <a class="btn btn-primary btn-lg" href="/takeQuiz">Take Quiz</a>
     <!-- <a class="btn btn-primary btn-lg" href="/getMovie">Search Movies(Team)</a>-->
    </div>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Make sure to tell the author what a great job she did.</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://pe.usps.com/text/dmm300/Notice123.htm">USPS</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>