<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/ship-3619166_960_720.png">
    </a>
    <h1>Cost of Shipping</h1>
    <a class="btn btn-primary btn-lg" href="/takeQuiz">Take Quiz</a>
  </div>
</div>
<div class="container">
  <hr>
 
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Make sure to tell the author what a great job she did.</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://pe.usps.com/text/dmm300/Notice123.htm">USPS</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     This was made by a student. Give them some credit for trying.
 </div>
</div>


</body>
</html>