<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Quiz</h1>
      <hr class="my-4">
      <form action='/quizScore' method='GET'>

        <% for (var i = 0; i < quiz.length; i++) { %>
        <div class="form-group">
          <p><%- quiz[i].getText() %></p>

          <%let choices = quiz[i].getAnswers(); %>
          <div class="input-group">
            <% choices.forEach(function(choices){ %>
            <label for="optradio" class="form-row"><input type="radio" id="optradio" name="name_<%- i%>"
                value="<%= choices %>"><%- choices%></label>
            <% }) %>
          </div>
        </div>
        <% } %>
    </div>
    <button class="btn btn-primary mb-2" type="submit">Submit</button>
    </form>
    <p class="lead">
      <a class="btn btn-info btn-lg" href="/" role="button">Go Home</a>
    </p>
  </div>

  </div>
</body>

</html>