<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Quiz</h1>
      <hr class="my-4">
      <form action='/quizScore' method='GET'>

        <% for (var i = 0; i < quiz.length; i++) { %>
        <div class="form-group">
          <div class="question"><%- quiz[i].getText() %></div>

          <%let choices = quiz[i].getAnswers(); %>
          <% for (let i = choices.length - 1; i > 0; i--) { %>
            <% let j = Math.floor(Math.random() * (i + 1)); %>
            <% let t = choices[i]; choices[i] = choices[j]; choices[j] = t; } %>

          <div class="input-group">
            <% choices.forEach(function(choices){ %>
            <label for="optradio" class="form-row"><input type="radio" id="optradio" name="name_<%- i%>"
                value="<%= choices %>"><%- choices%></label>
            <% }) %>
          </div>
        </div>
        <% } %>

        <a href="/" class="btn btn-primary mb-2">Back</a>
        <button class="btn btn-primary mb-2" type="submit">Submit</button>
      </form>
    </div>
  </div>

  </div>
</body>

</html>