<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Quiz</h1>
      <hr class="my-4">
      
      <p> <% if (quiz) { %>
        <%= quiz[currQ].getText() %></p>
        <form>
        <%let choices = quiz[currQ].getAnswers() %>

        <% choices.forEach(function(choices){ %>
            <input type="radio"><%= choices%></input><br>
        <% }) %>
        
      <% } else { %>
      Oops! Something went wrong</p>
      <% } %>
    </form>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Try Again</a>
      </p>
    </div>


  </div>
</body>

</html>
