<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Quiz</h1>
      <hr class="my-4">
      <form action='/takeQuiz' method='GET'>
        <div class="form-group">
          <p><%- quiz[currQ].getText() %></p>
        
        <%let choices = quiz[currQ].getAnswers() %>
        <div class="input-group">
        <% choices.forEach(function(choices){ %>
            <label for="optradio" class="form-row"><input type="radio" id="optradio"><%- choices%></label>
        <% }) %>
        </div>
      <button class="btn btn-primary mb-2" type="submit">Next Question</button>
    </div>
    </form>
      <p class="lead">
        <a class="btn btn-info btn-lg" href="/" role="button">Go Home</a>
      </p>
    </div>

  </div>
</body>

</html>
