<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Your Shipping Rate</h1>
      <hr class="my-4">
      <p> <% if (rate) { %>
        Your rate is: $<%= rate %></p>
      <% } else { %>
      Oops! Something went wrong</p>
      <% } %>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Try Again</a>
      </p>
    </div>


  </div>
</body>

</html>