<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">


    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title">Your Shipping Rate</h5>
        <p class="card-text">
          <% if (rate) { %>
          Your rate is: $<%= rate %></p>
        <% } else { %>
        Oops! Something went wrong</p>
        <% } %>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</body>

</html>