<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <h2>Your cost for shipping</h2>

    <ul>
      <li>UPSPS:
      <li>$5.00</li>
      </li>
      <li>FedEx:
      <li>Coming Soon</li>
      </li>
      <li>UPS:
      <li>Coming Soon</li>
      </li>
    </ul>

  </div>

</body>

</html>