<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    
    <% if (rate) { %>
    <h1>Your rate is: $<%= rate %></h1>
    <% } else { %>
    <h1>Oops! Something went wrong</h1>
    <% } %>

  </div>

</body>

</html>